absl-py==1.0.0
biopython>=1.79
dm-haiku==0.0.12
docker==5.0.0
jax>=0.4.26
jaxlib>=0.4.26
matplotlib>=3.9.0
ml-collections==0.1.0
numpy>=1.26
tensorflow-cpu>=2.16.1
scipy>=1.12
pandas>=2.1
tqdm>=4.65
loguru>=0.7
fastmcp
